.flexbox-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px; */
}

.flexbox-item-home {
    background-color: rgb(10, 80, 150);
    border-radius: 10px;
}
.flexbox-item-home:hover {
    background-color: rgb(10, 80, 150,0.7);
    transition: 1s;
}

